@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color:  rgba(38, 94, 158, 0.747);
}

main{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:hsl(217,27%,21%);
    height: auto;
    border-radius: 20px;
}

.calculations{
    width: 14rem;
    height: 13rem;
    position: relative;
    left: 15px;
    right: 15px;
}

.history{
    color: hsl(223,11%,74%);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: small;
    text-align: right;
    position: relative;
    top: 70%;
}

.initial-calculation{
    color: hsl(300,100%,100%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: large;
    text-align: right;
    position: relative;
    top: 60%;
}

.buttons{
    padding: 10px 10px 10px 10px;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(4, 1fr);
    width:14.5rem;
    height:300px;
    place-items:  center;
}

.operators{
    box-shadow: -2px -2px 12px -5px hsl(216,13%,39%);
    border-radius: 15px;
    width: 45px;
    height: 45px;
    background-color: hsl(217,27%,21%);
    border-color: hsl(217,27%,21%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: medium;
}

.funcion1{
    color: hsl(219,9%,69%);
}
.funcion2{
    color:hsl(36,96%,52%) ; 
}
.number{
    color: hsl(180,33%,98%);
    
}

.item1 {
    width: 120px;
    grid-column: 1/ span 2;
  }